.order-status-pill{
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
    padding-right: 200px;
}
.datatable-header {
    font-weight: bold !important;
    font-size: large !important;
}