<!-- Multiple Lists -->
<section id="sortable-lists">
  <div class="row">
    <div class="col-sm-12">
      <h4 class="card-title">Multiple Lists</h4>
      <div class="card-body">
        <p class="card-text">Drag and drop items of more than one list. Add same group to group prop</p>
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <h4 class="my-1">People Group 1</h4>
            <ul dragula="multiple-list-group" class="list-group list-group-flush" id="multiple-list-group-a">
              <li class="list-group-item draggable">
                <div class="media">
                  <img src="assets/images/portrait/small/avatar-s-12.jpg" class="rounded-circle mr-2" alt="img-placeholder" height="50" width="50" />
                  <div class="media-body">
                    <h5 class="mt-0">Mary S. Navarre</h5>
                    Chupa chups tiramisu apple pie biscuit sweet roll bonbon macaroon.
                  </div>
                </div>
              </li>
              <li class="list-group-item draggable">
                <div class="media">
                  <img src="assets/images/portrait/small/avatar-s-1.jpg" class="rounded-circle mr-2" alt="img-placeholder" height="50" width="50" />
                  <div class="media-body">
                    <h5 class="mt-0">Samuel M. Ellis</h5>
                    Toffee powder marzipan tiramisu. Cake cake dessert danish.
                  </div>
                </div>
              </li>
              <li class="list-group-item draggable">
                <div class="media">
                  <img src="assets/images/portrait/small/avatar-s-2.jpg" class="rounded-circle mr-2" alt="img-placeholder" height="50" width="50" />
                  <div class="media-body">
                    <h5 class="mt-0">Sandra C. Toney</h5>
                    Sugar plum fruitcake gummies marzipan liquorice tiramisu.
                  </div>
                </div>
              </li>
              <li class="list-group-item draggable">
                <div class="media">
                  <img src="assets/images/portrait/small/avatar-s-3.jpg" class="rounded-circle mr-2" alt="img-placeholder" height="50" width="50" />
                  <div class="media-body">
                    <h5 class="mt-0">Cleveland C. Goins</h5>
                    Toffee powder marzipan tiramisu. Cake cake dessert danish.
                  </div>
                </div>
              </li>
              <li class="list-group-item draggable">
                <div class="media">
                  <img src="assets/images/portrait/small/avatar-s-4.jpg" class="rounded-circle mr-2" alt="img-placeholder" height="50" width="50" />
                  <div class="media-body">
                    <h5 class="mt-0">Linda M. English</h5>
                    Chupa chups tiramisu apple pie biscuit sweet roll bonbon macaroon.
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-md-6 col-sm-12">
            <h4 class="my-1">People Group 2</h4>
            <ul dragula="multiple-list-group" class="list-group list-group-flush" id="multiple-list-group-b">
              <li class="list-group-item draggable">
                <div class="media">
                  <img src="assets/images/portrait/small/avatar-s-12.jpg" class="rounded-circle mr-2" alt="img-placeholder" height="50" width="50" />
                  <div class="media-body">
                    <h5 class="mt-0">Mary S. Navarre</h5>
                    Chupa chups tiramisu apple pie biscuit sweet roll bonbon macaroon.
                  </div>
                </div>
              </li>
              <li class="list-group-item draggable">
                <div class="media">
                  <img src="assets/images/portrait/small/avatar-s-1.jpg" class="rounded-circle mr-2" alt="img-placeholder" height="50" width="50" />
                  <div class="media-body">
                    <h5 class="mt-0">Samuel M. Ellis</h5>
                    Toffee powder marzipan tiramisu. Cake cake dessert danish.
                  </div>
                </div>
              </li>
              <li class="list-group-item draggable">
                <div class="media">
                  <img src="assets/images/portrait/small/avatar-s-2.jpg" class="rounded-circle mr-2" alt="img-placeholder" height="50" width="50" />
                  <div class="media-body">
                    <h5 class="mt-0">Sandra C. Toney</h5>
                    Sugar plum fruitcake gummies marzipan liquorice tiramisu
                  </div>
                </div>
              </li>
              <li class="list-group-item draggable">
                <div class="media">
                  <img src="assets/images/portrait/small/avatar-s-3.jpg" class="rounded-circle mr-2" alt="img-placeholder" height="50" width="50" />
                  <div class="media-body">
                    <h5 class="mt-0">Cleveland C. Goins</h5>
                    Toffee powder marzipan tiramisu. Cake cake dessert danish.
                  </div>
                </div>
              </li>
              <li class="list-group-item draggable">
                <div class="media">
                  <img src="assets/images/portrait/small/avatar-s-4.jpg" class="rounded-circle mr-2" alt="img-placeholder" height="50" width="50" />
                  <div class="media-body">
                    <h5 class="mt-0">Linda M. English</h5>
                    Chupa chups tiramisu apple pie biscuit sweet roll bonbon macaroon.
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
