<!-- <h3>Categories</h3>
<div class="card category-list">
  <div class="row" *ngFor="let category of categoryList">
    <div class="col-8">
      <button class="btn editbtn" (click)="subCategory(category)">{{ category.categoryName }}</button>
    </div>
    <div class="col-4 text-right">
      <button class="btn editbtn"><img src="assets/images/edit-icon.png" alt="" /></button>
    </div>
  </div>
</div>
<app-category *ngIf="hasSubCheck" [categoryData]="tempCategory"></app-category> -->
<section class="category-display">
 
<div class="page">
<div class="card-body">
  
  <p class="card-text">
    {{ outletData?.outletName ?? categoryData.categoryName }} (Category List)
  </p>
  <div class="list-group" *ngFor="let category of categoryList">
    <div class="edit-text">
    <a href="javascript:void(0)"  class="list-group-item list-group-item-action" (click)="subCategory(category)">{{ category.categoryName }} </a>
    <button  class="edit-icon" (click)="openeditCategorymodal(content,category)"><i data-feather="edit" class="text-primary cursor-pointer"></i></button>
  </div>
    <!-- <button class="btn text-primary"><i data-feather="edit" class="text-primary cursor-pointer"></i></button> -->
  </div>
</div>
</div>
<div class="page2">
  
<app-category *ngIf="hasSubCheck" [categoryData]="tempCategory"></app-category>
<app-product *ngIf="hasProdCheck" [categoryData]="tempCategory"></app-product>
</div>

</section>

<ng-template #content let-modal>
  <div class="modal-header">
      <h4 class="modal-title" id="myModalLabel1">Change Status</h4>
      <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body" tabindex="0" ngbAutofocus>
    <form [formGroup]="editCategoryForm" class="form form-vertical" (ngSubmit)="editCategoryFormSubmit()">
      <div class="row">
          <div class="col-8">
              <div class="form-group">
                  <label for="first-name-vertical">Category Name</label>
                  <input type="text" id="first-name-vertical" class="form-control" name="categoryName"
                      formControlName="categoryName" placeholder="Category Name" />
              </div>
          </div>
          <div class="col-4">
            <button type="submit" rippleEffect class="block-btn btn btn-primary">Save</button>
          </div>
      </div>
      
  </form>
  </div>
  
</ng-template>