<!-- <h3>Categories</h3>
<div class="card category-list">
  <div class="row" *ngFor="let category of categoryList">
    <div class="col-8">
      <button class="btn editbtn" (click)="subCategory(category)">{{ category.categoryName }}</button>
    </div>
    <div class="col-4 text-right">
      <button class="btn editbtn"><img src="assets/images/edit-icon.png" alt="" /></button>
    </div>
  </div>
</div>
<app-category *ngIf="hasSubCheck" [categoryData]="tempCategory"></app-category> -->
<div class="card-body">
  <p class="card-text">
    {{ outletData?.outletName ?? categoryData.categoryName }}
  </p>
  <div class="list-group">
    <a href="javascript:void(0)" *ngFor="let category of categoryList" class="list-group-item list-group-item-action" (click)="subCategory(category)">{{ category.categoryName }} </a>
  </div>
</div>
<app-category *ngIf="hasSubCheck" [categoryData]="tempCategory"></app-category>
<app-product *ngIf="hasProdCheck" [categoryData]="tempCategory"></app-product>
