<section class="category-display">
 <div class="page">
<div class="card-body">
  <div class=" categories card-text">
   <p> {{ outletData?.outletName ?? categoryData.categoryName }} (Category List)</p>
    <button class="block-btn btn btn-primary" (click)="openAddCategoryModal(content1)">Add New</button>
  </div>
  
  

  <div class="list-group" *ngFor="let category of categoryList">
    <div class="edit-text">
    <a href="javascript:void(0)"  class="list-group-item list-group-item-action" (click)="subCategory(category)">{{ category.categoryName }} </a>
    <a href="javascript:void(0)"   class="list-group-item edit-icon" (click)="openeditCategorymodal(content,category)"><i data-feather="edit" class="text-primary cursor-pointer"></i></a>
  </div>
    
  </div>
</div>
</div>
<div class="page2">
  
<app-category *ngIf="hasSubCheck" [categoryData]="tempCategory"></app-category>
<app-product class="product-list" *ngIf="hasProdCheck" [categoryData]="tempCategory"></app-product>

</div>

<div *ngIf="bothCheck" class="page2">
  <app-category  [categoryData]="tempCategory"></app-category>
  <app-product class="product-list"  [categoryData]="tempCategory"></app-product>
  </div>

</section>

<!-- edit category modal -->
<ng-template #content let-modal>
  <div class="modal-header">
      <h4 class="modal-title" id="myModalLabel1">Edit Category</h4>
      <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body" tabindex="0" ngbAutofocus>
    <form [formGroup]="editCategoryForm" class="form form-vertical" (ngSubmit)="editCategoryFormSubmit()">
      <div class="row">
          <div class="col-8">
              <div class="form-group">
                  <label for="first-name-vertical">Category Name</label>
                  <input type="text" id="first-name-vertical" class="form-control" name="categoryName"
                      formControlName="categoryName" placeholder="Category Name" />
              </div>
          </div>
          <div class="col-4">
            <button type="submit" rippleEffect class="block-btn btn btn-primary">Save</button>
          </div>
      </div>
      
  </form>
  </div>
  
</ng-template>

<!-- add category modal -->
<ng-template #content1 let-modal>
  <div class="modal-header">
      <h4 class="modal-title" id="myModalLabel1">Add Category</h4>
      <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body" tabindex="0" ngbAutofocus>
    <form [formGroup]="addCategoryForm" class="form form-vertical" (ngSubmit)="addCategoryFormSubmit()">
      <div class="row">
          <div class="col-8">
              <div class="form-group">
                  <label for="first-name-vertical">Category Name</label>
                  <input type="text" id="first-name-vertical" class="form-control" name="categoryName"
                      formControlName="categoryName" placeholder="Category Name" />
              </div>
          </div>
          <div class="col-4">
            <button type="submit" rippleEffect class="block-btn btn btn-primary">Save</button>
          </div>
      </div>
      
  </form>
  </div>
  
</ng-template>