<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- content-header component -->

    <!-- centered-slides option-2 swiper start -->
    <section id="component-swiper-centered-slides-2 ">
      <div class="card">
        <h4 class="card-title">Category</h4>
        <div class="card-body pt-0">
          <swiper class="swiper-centered-slides-2 swiper-container" [config]="swiperCenteredSlides2" [(index)]="centeredSlide2Index">
            <div class="swiper-slide rounded swiper-shadow py-1 px-3 mb-1 d-flex">
              <i data-feather="twitter" class="mr-50 font-medium-3"></i>
              <div class="swiper-text">Getting Started</div>
            </div>
            <div class="swiper-slide rounded swiper-shadow py-1 px-3 mb-1 d-flex">
              <i data-feather="facebook" class="mr-50 font-medium-3"></i>
              <div class="swiper-text">Pricing & Plans</div>
            </div>
            <div class="swiper-slide rounded swiper-shadow py-1 px-3 mb-1 d-flex">
              <i data-feather="gitlab" class="mr-50 font-medium-3"></i>
              <div class="swiper-text">Sales Question</div>
            </div>
            <div class="swiper-slide rounded swiper-shadow py-1 px-3 mb-1 d-flex">
              <i data-feather="instagram" class="mr-50 font-medium-3"></i>
              <div class="swiper-text">Usage Guides</div>
            </div>
            <div class="swiper-slide rounded swiper-shadow py-1 px-3 mb-1 d-flex">
              <i data-feather="github" class="mr-50 font-medium-3"></i>
              <div class="swiper-text">General Guide</div>
            </div>
          </swiper>
        </div>
      </div>
    </section>
    <!-- centered-slides option-2 swiper ends -->
  </div>
</div>
