<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <section id="ngx-datatable-kitchen-sink">
      <h4 class="card-title justify-content">Outlet List</h4>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-12 mb-50"></div>
            <div class="col-md-6 col-12">
              <div class="d-flex justify-content-between align-items-center m-1">
                <label class="d-flex align-items-center"
                  >Show
                  <select class="form-control mx-25" [(ngModel)]="basicSelectedOption">
                    <option value="5" selected="selected">05</option>
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select>
                  entries</label
                >
              </div>
            </div>
            <div class="col-md-6 col-12 d-flex justify-content-md-end">
              <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pl-1 pl-md-0 pb-md-0">
                <label class="d-flex align-items-center">Search<input type="search" placeholder="Search" class="form-control ml-25" (keyup)="filterUpdate($event)" (search)="filterUpdate($event)" /></label>
              </div>
            </div>
          </div>
          <!-- ngx-datatables responsive -->
          <ngx-datatable #table class="bootstrap core-bootstrap" [columnMode]="ColumnMode.force" [headerHeight]="40" [rowHeight]="58" [footerHeight]="50" rowHeight="auto" [limit]="basicSelectedOption" [rows]="kitchenSinkRows" [scrollbarH]="true">
            <ngx-datatable-column name="Seller Id" prop="sellerId" [width]="50"></ngx-datatable-column>
            <ngx-datatable-column name="Outlet Name" prop="outletName" [width]="50"></ngx-datatable-column>
            <ngx-datatable-column name="Is Closed" prop="isClosed" [width]="50">
              <ng-template let-closeStatus="value" ngx-datatable-cell-template>
                <div class="badge badge-pill" [ngClass]="selectButtonClass(closeStatus)">
                  {{ closeStatus }}
                </div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Is Verified" prop="isVerified" [width]="50">
              <ng-template let-verificationStatus="value" ngx-datatable-cell-template>
                <div
                  class="badge badge-pill"
                  [ngClass]="{
                    'badge-light-success': verificationStatus,
                    'badge-light-dark': !verificationStatus
                  }"
                >
                  {{ verificationStatus }}
                </div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Is Featured" prop="isFeatured" [width]="50"></ngx-datatable-column>
            <ngx-datatable-column name="Action" [width]="100" [sortable]="false">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <div class="d-flex align-items-center">
                  <div ngbDropdown container="body">
                    <a ngbDropdownToggle href="javascript:void(0);" class="hide-arrow" id="dropdownBrowserState" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i data-feather="more-vertical" class="text-primary cursor-pointer mr-50"></i>
                    </a>
                    <div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="dropdownBrowserState">
                      <a href="javascript:void(0)" ngbDropdownItem class="d-flex align-items-center text-primary" (click)="navigateToDetail(row)"><i data-feather="file-text" class="mr-50"></i> Details</a>
                      <a href="javascript:void(0)" ngbDropdownItem class="d-flex align-items-center text-primary" (click)="navigateToMenuCheck(row)" routerLink="/allOutlet/check-menu"><i data-feather="file-text" class="mr-50"></i> Check menu</a>
                      <a href="javascript:void(0)" *ngIf="row.isClosed" ngbDropdownItem class="d-flex align-items-center text-success" (click)="changeOutletStatus(content, row)"><i data-feather="archive" class="mr-50"></i> Open Outlet</a>
                      <a href="javascript:void(0)" *ngIf="!row.isClosed" ngbDropdownItem class="d-flex align-items-center text-danger" (click)="changeOutletStatus(content, row)"><i data-feather="archive" class="mr-50"></i> Close Outlet</a>
                      <a href="javascript:void(0)" *ngIf="row.isVerified" ngbDropdownItem class="d-flex align-items-center text-danger" (click)="changeOutletStatus(verificationModal, row)"><i data-feather="x-circle" class="mr-50"></i>Mark Unverified</a>
                      <a href="javascript:void(0)" *ngIf="!row.isVerified" ngbDropdownItem class="d-flex align-items-center text-success" (click)="changeOutletStatus(verificationModal, row)"><i data-feather="check-circle" class="mr-50"></i>Mark Verified</a>
                    </div>
                  </div>

                  <a href="javascript:void(0)" (click)="openEditOutletModal(content1, row)"> <i data-feather="edit" class="text-primary cursor-pointer"></i></a>
                </div>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
          <!--/ ngx-datatables responsive -->
        </div>
      </div>
    </section>
  </div>
</div>

<!-- change outlet status -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="myModalLabel1">Change Status</h4>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" tabindex="0" ngbAutofocus>
    <p>Are you sure you want to Change ?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="block-btn btn btn-primary" (click)="modal.close('Cross click')" rippleEffect>Cancel</button>
    <button type="button" class="block-btn btn btn-primary" (click)="modal.close('Accept click')" (click)="onOffstatus()" rippleEffect>Confirm</button>
  </div>
</ng-template>

<!-- change verification status -->
<ng-template #verificationModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="myModalLabel1">Change Status</h4>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" tabindex="0" ngbAutofocus>
    <p>Are you sure you want to Change ?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="block-btn btn btn-primary" (click)="modal.close('Cross click')" rippleEffect>Cancel</button>
    <button type="button" *ngIf="verificationStatus" class="block-btn btn btn-primary" (click)="modal.close('Accept click')" (click)="verifyOutlet(false)" rippleEffect>Confirm</button>
    <button type="button" *ngIf="!verificationStatus" class="block-btn btn btn-primary" (click)="modal.close('Accept click')" (click)="verifyOutlet(true)" rippleEffect>Confirm</button>
  </div>
</ng-template>

<!-- edit outlet Modal -->

<ng-template #content1 let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="myModalLabel1">Edit Outlet</h4>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" tabindex="0" ngbAutofocus>
    <form [formGroup]="editOutletForm" class="form form-vertical" (ngSubmit)="editOutletFormSubmit()">
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="first-name-vertical">Outlet Name</label>
            <input type="text" id="first-name-vertical" class="form-control" name="outletName" formControlName="outletName" placeholder="Outlet Name" />
          </div>
        </div>

        <div class="col-6">
          <div class="form-group">
            <label for="first-name-vertical">Preparation Time</label>
            <input type="text" id="first-name-vertical" class="form-control" name="preparationTime" formControlName="preparationTime" placeholder="Preparation Time" />
          </div>
        </div>

        <div class="col-6">
          <div class="form-group">
            <label for="first-name-vertical">Outlet Image</label>
            <input type="file" id="first-name-vertical" class="form-control" name="outletImage" nbInput fullWidth placeholder="Outlet Image" (change)="getImage($event)" />
          </div>
        </div>

        <div class="col-6">
          <div class="form-group">
            <label for="first-name-vertical">Shop Address</label>
            <input type="text" id="first-name-vertical" class="form-control" name="shopAddress" formControlName="shopAddress" placeholder="Shop Address" />
          </div>
        </div>

        <div class="col-6">
          <div class="form-group">
            <label for="first-name-vertical">Cuisines</label>
            <button type="button" (click)="openEditCuisineModal(content2)" class="btn btn-outline-primary btn-block form-control">Cuisine</button>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="first-name-vertical">Timing</label>
            <button type="button" (click)="openEditTimingModal(timingModel)" class="btn btn-outline-primary btn-block form-control">Timing</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-right">
          <div class="form-group">
            <div class="loading-icon">
              <button *ngIf="!loading" type="submit" rippleEffect class="text-right block-btn btn btn-primary">Confirm</button>
              <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #content2 let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="myModalLabel1">Please select cuisines</h4>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" tabindex="0" ngbAutofocus>
    <div class="row">
      <div class="col-3 text-secondary" *ngFor="let cuisine of cuisineList">
        <div class="cuisine">
          <div class="cuisine-img">
            <img src="{{ cuisine.cuisineImage }}" alt="" width="50px" />
            <p>{{ cuisine.cuisineName }}</p>
          </div>
          <span><input type="checkbox" [checked]="cuisineCheck(cuisine.cuisineId)" id="checkbox" (click)="onCuisineSelect(cuisine)" /></span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 text-right">
        <button type="button" class="btn btn-submit btn-primary mr-2" (click)="modal.dismiss('Cross click')" aria-label="Close">Submit</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #timingModel let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="myModalLabel1">Please select Timing</h4>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body no-scroll" tabindex="0" ngbAutofocus>
    <section class="custom-spinner-time-picker">
      <div class="row">
        <div class="col-12" *ngFor="let item of daysList; let dayIndex = index">
          <h4 class="card-title">{{ item.day }}</h4>
          <div class="card-body">
            <div class="row" *ngFor="let hour of item.hours; let hourIndex = index">
              <div class="col-12 col-md-6">
                <p class="card-text">Opening Hours</p>
                <!-- Custom Time Picker -->
                <ngb-timepicker [(ngModel)]="item.openingHours[hourIndex]" [size]="small" [minuteStep]="15" [spinners]="true" [meridian]="true" (ngModelChange)="concatHours(dayIndex, hourIndex)"></ngb-timepicker>
              </div>
              <div class="col-12 col-md-6">
                <p class="card-text">Closing Hours</p>
                <ngb-timepicker [(ngModel)]="item.closingHours[hourIndex]" [size]="small" [minuteStep]="15" [spinners]="true" [meridian]="true" (ngModelChange)="concatHours(dayIndex, hourIndex)"></ngb-timepicker>
              </div>
              <div class="d-flex flex-row-reverse align-items-end mb-100" *ngIf="hourIndex != 0">
                <div class="form-group">
                  <button (click)="removeHour(dayIndex, hourIndex)" class="btn btn-outline-danger tabs text-nowrap px-1" rippleEffect>
                    <i data-feather="trash-2" class="align-middle mr-sm-25 mr-0"></i>
                    <span class="align-middle d-sm-inline-block d-none">Delete</span>
                  </button>
                </div>
              </div>
              <hr class="col-12"/>
            </div>
            <div class="d-flex flex-row-reverse mb-2">
              <button (click)="addHour(dayIndex)" class="btn btn-outline-primary tabs" rippleEffect>
                <i data-feather="plus" class="align-middle mr-sm-25 mr-0"></i>
                <span class="align-middle d-sm-inline-block d-none">Add More Hours</span>
              </button>
            </div>
            <!--/ Custom Time Picker -->
          </div>
          <!-- <div class="col-2">
            <button class="btn btn-primary ml-1" (click)="addHour(dayIndex)" rippleEffect><i data-feather="plus" class="mr-0 mr-sm-1"></i></button>
          </div> -->
        </div>
      </div>
    </section>
    <div class="row">
      <div class="col-12 text-right">
        <button type="button" class="btn btn-submit btn-primary mr-2" (click)="modal.dismiss('Cross click')" aria-label="Close">Submit</button>
      </div>
    </div>
  </div>
</ng-template>
