<div class="detail-container">
  <div class="detail-header">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <h4 class="detail-title">{{ sellerDetail.basicDetails.sellerName }}</h4>
  </div>
  <div class="detail-body">
    <ul ngbNav #navJustified="ngbNav" class="nav-tabs nav-justified">
      <li ngbNavItem>
        <a ngbNavLink>Details</a>
        <ng-template ngbNavContent>
          <div class="row">
            <!-- basicDetail-->
            <div class="col-xl-3 col-lg-4 col-md-5">
              <div class="card plan-card border-primary">
                <div class="card-header d-flex justify-content-between align-items-center pt-75 pb-1">
                  <h5 class="mb-0">Basic Detail</h5>
                </div>
                <div class="card-body">
                  <div class="badge badge-light-primary">Name - {{ sellerDetail.basicDetails.sellerName }}</div>
                  <ul class="list-unstyled my-1">
                    <li>
                      <span class="align-middle">Trade Name - {{ sellerDetail.basicDetails.tradeName }}</span>
                    </li>
                    <li class="my-25">
                      <span class="align-middle">Seller Type - {{ sellerDetail.basicDetails.sellerType }}</span>
                    </li>
                    <li>
                      <span class="align-middle">GST No - {{ sellerDetail.basicDetails.gstNo }}</span>
                    </li>
                    <li>
                      <span class="align-middle">PAN Number - {{ sellerDetail.basicDetails.panNumber }}</span>
                    </li>
                    <li>
                      <span class="align-middle">Phone - {{ sellerDetail.basicDetails.phone }}</span>
                    </li>
                  </ul>
                  <button class="btn btn-primary text-center btn-block" rippleEffect>Edit Basic Detail</button>
                </div>
              </div>
            </div>
            <!-- /basicDetail CardEnds -->
            <!-- licenseDetails-->
            <div class="col-xl-3 col-lg-4 col-md-5">
              <div class="card plan-card border-primary">
                <div class="card-header d-flex justify-content-between align-items-center pt-75 pb-1">
                  <h5 class="mb-0 text-center">License Detail</h5>
                </div>
                <div class="card-body">
                  <div class="badge badge-light-primary">User Id - {{ sellerDetail.userId }}</div>
                  <ul class="list-unstyled my-1">
                    <li>
                      <span class="align-middle">Name On Licence - {{ sellerDetail.licenseDetails.nameOnlicence }}</span>
                    </li>
                    <li>
                      <span class="align-middle">Licence Number - {{ sellerDetail.licenseDetails.licenceNumber }}</span>
                    </li>
                    <li class="my-25">
                      <span class="align-middle">Issued On - {{ sellerDetail.licenseDetails.issuedOn }}</span>
                    </li>
                    <li>
                      <span class="align-middle">Tenure - {{ sellerDetail.licenseDetails.tenure }}</span>
                    </li>
                  </ul>
                  <button class="btn btn-primary text-center btn-block" rippleEffect>Edit License Detail</button>
                </div>
              </div>
            </div>
            <!-- /licenseDetails CardEnds -->
            <!-- authorizedPersonDetails-->
            <div class="col-xl-3 col-lg-4 col-md-5">
              <div class="card plan-card border-primary">
                <div class="card-header d-flex justify-content-between align-items-center pt-75 pb-1">
                  <h5 class="mb-0">Authorized Person Detail</h5>
                </div>
                <div class="card-body">
                  <div class="badge badge-light-primary">Name - {{ sellerDetail.authorizedPersonDetails.name }}</div>
                  <ul class="list-unstyled my-1">
                    <li>
                      <span class="align-middle">Pan - {{ sellerDetail.authorizedPersonDetails.pan }}</span>
                    </li>
                    <li class="my-25">
                      <span class="align-middle">Phone - {{ sellerDetail.authorizedPersonDetails.phone }}</span>
                    </li>
                    <li>
                      <span class="align-middle">Email - {{ sellerDetail.authorizedPersonDetails.email }}</span>
                    </li>
                    <li>
                      <span class="align-middle">Seller Id - {{ sellerDetail.sellerId }}</span>
                    </li>
                    <li class="my-25">
                      <span class="align-middle">Agent Id - {{ sellerDetail.agentId }}</span>
                    </li>
                  </ul>
                  <button class="btn btn-primary text-center btn-block" rippleEffect>Authorized Person Detail</button>
                </div>
              </div>
            </div>
            <!-- /authorizedPersonDetails CardEnds -->
          </div>
        </ng-template>
      </li>
      <li ngbNavItem>
        <a ngbNavLink>Outlet</a>
        <ng-template ngbNavContent>
          <div class="nav-vertical">
            <ul ngbNav #navVerticalRight="ngbNav" class="nav nav-tabs nav-right flex-column">
              <li ngbNavItem *ngFor="let outlet of sellerOutlet">
                <a ngbNavLink>{{ outlet.outletName }}</a>
                <ng-template ngbNavContent>
                  <!-- Profile Card -->
                  <div class="col-lg-4 col-md-6 col-12">
                    <div class="card card-profile">
                      <img src="{{ outlet.outletImage[0] }}" class="outlet-img card-img-top" alt="Profile Cover Photo" />
                      <div class="card-body">
                        <div class="profile-image-wrapper">
                          <div class="profile-image">
                            <div class="avatar">
                              <img src="{{ outlet.outletImage[0] }}" alt="Profile Picture" />
                            </div>
                          </div>
                        </div>
                        <h3>{{ outlet.outletName }}</h3>
                        <h6 class="text-muted">{{ outlet.shopAddress }}</h6>
                        <div class="badge badge-light-primary profile-badge">{{ outlet.area }}</div>
                        <hr class="mb-2" />
                        <div class="d-flex justify-content-between align-items-center">
                          <div>
                            <h6 class="text-muted font-weight-bolder">Pending</h6>
                            <h3 class="mb-0">{{ outlet.pendingCount }}</h3>
                          </div>
                          <div>
                            <h6 class="text-muted font-weight-bolder">Preparing</h6>
                            <h3 class="mb-0">{{ outlet.preperingCount }}</h3>
                          </div>
                          <div>
                            <h6 class="text-muted font-weight-bolder">Ready</h6>
                            <h3 class="mb-0">{{ outlet.readyCount }}</h3>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--/ Profile Card -->
                </ng-template>
              </li>
              <li ngbNavItem>
                <a ngbNavLink>Add new outlet</a>
                <ng-template ngbNavContent>
                  <form [formGroup]="outletForm" (ngSubmit)="ReactiveUDFormOnSubmit()">
                    <h6 class="mb-2">Please Enter Outlet Details</h6>
                    <div class="row">
                      <div class="col-6">
                        <div class="form-group">
                          <label for="outletName">Outlet name</label>
                          <input type="text" id="outletName" [(ngModel)]="addOutletForm.outletName" formControlName="outletName" class="form-control" [ngClass]="{ 'is-invalid': outletFormSubmitted && ReactiveUDForm.outletName.errors }" />
                          <div *ngIf="outletFormSubmitted && ReactiveUDForm.outletName.errors" class="invalid-feedback">
                            <div *ngIf="ReactiveUDForm.outletName.errors.required">Username is required</div>
                          </div>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="form-group">
                          <label for="file-upload-single">Image:</label>
                          <div class="custom-file">
                            <input type="file" class="custom-file-input form-control" ng2FileSelect id="outletImage" formControlName="outletImage" [(ngModel)]="addOutletForm.outletImage" (change)="getImage($event)" [ngClass]="{ 'is-invalid': outletFormSubmitted && ReactiveUDForm.outletImage.errors }" />
                            <label class="custom-file-label">{{ this.imageData?.name ?? "Choose file" }}</label>
                          </div>
                          <div *ngIf="outletFormSubmitted && ReactiveUDForm.outletImage.errors" class="invalid-feedback">
                            <div *ngIf="ReactiveUDForm.outletImage.errors.required">Image is required</div>
                          </div>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="form-group">
                          <label for="area">Area</label>
                          <select id="area" formControlName="area" class="form-control" [ngClass]="{ 'is-invalid': outletFormSubmitted && ReactiveUDForm.area.errors }">
                            <option value="Vijay Nagar">Vijay Nagar</option>
                            <option value="Palasia">Palasia</option>
                            <option value="Geeta Bhavan">Geeta Bhavan</option>
                            <option value="LIG">LIG</option>
                          </select>
                          <div *ngIf="outletFormSubmitted && ReactiveUDForm.area.errors" class="invalid-feedback">
                            <div *ngIf="ReactiveUDForm.area.errors.required">area is required</div>
                          </div>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="form-group">
                          <label for="address">Address</label>
                          <input type="text" id="address" formControlName="address" [(ngModel)]="addOutletForm.address" class="form-control" [ngClass]="{ 'is-invalid': outletFormSubmitted && ReactiveUDForm.address.errors }" />
                          <div *ngIf="outletFormSubmitted && ReactiveUDForm.address.errors" class="invalid-feedback">
                            <div *ngIf="ReactiveUDForm.address.errors.required">Phone Number is required</div>
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <h6 class="mb-2">Please Enter Outlet Settings</h6>
                      </div>
                      <div class="col-6">
                        <div class="form-group">
                          <label for="openingHour">Opening Hour</label>
                          <ngb-timepicker id="openingHour" [(ngModel)]="openingHourdata"  formControlName="openingHour" [meridian]="meridianTP" [ngClass]="{ 'is-invalid': outletFormSubmitted && ReactiveUDForm.openingHour.errors }"></ngb-timepicker>
                          <hr>
                          <div *ngIf="outletFormSubmitted && ReactiveUDForm.openingHour.errors" class="invalid-feedback">
                            <div *ngIf="ReactiveUDForm.openingHour.errors.required">openingHour is required</div>
                          </div>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="form-group">
                          <label for="closingHour">Closing Hours</label>
                          <ngb-timepicker id="closingHour"  [(ngModel)]="closingHourdata" formControlName="closingHour" [meridian]="meridianTP" [ngClass]="{ 'is-invalid': outletFormSubmitted && ReactiveUDForm.closingHour.errors }"></ngb-timepicker>
                          <div *ngIf="outletFormSubmitted && ReactiveUDForm.closingHour.errors" class="invalid-feedback">
                            <div *ngIf="ReactiveUDForm.closingHour.errors.required">language is required</div>
                          </div>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="form-group">
                          <label for="isVeg">Veg/NonVeg</label>
                          <div class="custom-control custom-control-success custom-switch">
                            <input type="checkbox" checked class="form-control custom-control-input" id="customSwitch4" formControlName="isVeg" [(ngModel)]="addOutletForm.isVeg" [ngClass]="{ 'is-invalid': outletFormSubmitted && ReactiveUDForm.isVeg.errors }" />
                            <label class="custom-control-label" for="customSwitch4"></label>
                          </div>
                          <div *ngIf="outletFormSubmitted && ReactiveUDForm.isVeg.errors" class="invalid-feedback">
                            <div *ngIf="ReactiveUDForm.isVeg.errors.required">Last Name is required</div>
                          </div>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="form-group">
                          <label for="cuisine">Cuisine</label>
                          <div class="col-sm-6 col-12">
                            <!-- Button trigger modal -->
                            <button
                              type="button"
                              (click)="modalSelectOpen(modalSelect)"
                              class="btn btn-outline-primary btn-block form-control"
                              [ngClass]="{ 'is-invalid': outletFormSubmitted && ReactiveUDForm.cuisine.errors }" 
                              rippleEffect
                            >
                              Cuisine
                            </button>
          
                            <!-- Modal -->
                            <ng-template #modalSelect let-modal>
                              <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel1">Please select cuisines</h4>
                                <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body" tabindex="0" ngbAutofocus>
                                <!-- <form [formGroup]="addCuisineForm" class="form form-vertical" > -->
                                  
                                  <div class="row">
                                      <div class="col-3 text-secondary" *ngFor="let cuisine of cuisineList">
                                          <div class="cuisine">
                                              <div class="cuisine-img">
                                                  <img src="{{cuisine.cuisineImage}}" alt="" width="50px">
                                                  <p>{{cuisine.cuisineName}}</p>
                                              </div>
                                              <span><input type="checkbox" id="checkbox"   formControlName="cuisine" class="form-control"  (click)="onCuisineSelect(cuisine)"></span>
                                              
                                          </div>
                                      </div>
                                  </div>
                                  
                                  <div class="row">
                                      <div class="col-12 text-right">
                                          <button type="button" class="btn btn-submit btn-primary mr-2"
                                              (click)="modal.dismiss('Cross click')" aria-label="Close">Submit</button>
                                          <!-- <button type="button" class="btn btn-outline-primary close"
                                          (click)="modal.dismiss('Cross click')" aria-label="Close">Close</button> -->
                                      </div>
                                  </div>
                              <!-- </form> -->
                              </div>
                              <!-- <div class="modal-footer">
                                <button type="button" class="btn btn-primary" (click)="modal.close('Accept click')" rippleEffect>
                                  Accept
                                </button>
                              </div> -->
                            </ng-template>
                            <!-- / Modal -->
                            <div *ngIf="outletFormSubmitted && ReactiveUDForm.cuisine.errors" class="invalid-feedback">
                              <div *ngIf="ReactiveUDForm.cuisine.errors.required">Please select atleast one cuisine</div>
                            </div>
                          </div>
                          <!-- <input type="text" id="cuisine"  [(ngModel)]="addOutletForm.cuisine" class="form-control" [ngClass]="{ 'is-invalid': outletFormSubmitted && ReactiveUDForm.cuisine.errors }" /> -->
                          
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="form-group">
                          <label for="type">Outlet Type</label>
                          <select id="type" formControlName="type" class="form-control" [ngClass]="{ 'is-invalid': outletFormSubmitted && ReactiveUDForm.type.errors }">
                            <option value="Vijay Nagar">Food</option>
                          </select>
                          <div *ngIf="outletFormSubmitted && ReactiveUDForm.type.errors" class="invalid-feedback">
                            <div *ngIf="ReactiveUDForm.type.errors.required">Password is required</div>
                            <div *ngIf="ReactiveUDForm.type.errors.minlength">Password must be at least 6 characters</div>
                          </div>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="form-group">
                          <label for="preparationTime">Preparation Time</label>
                          <input type="text" id="preparationTime" formControlName="preparationTime" [(ngModel)]="addOutletForm.preparationTime" class="form-control" [ngClass]="{ 'is-invalid': outletFormSubmitted && ReactiveUDForm.preparationTime.errors }" />
                          <div *ngIf="outletFormSubmitted && ReactiveUDForm.preparationTime.errors" class="invalid-feedback">
                            <div *ngIf="ReactiveUDForm.preparationTime.errors.required">Confirm Password is required</div>
                            <div *ngIf="ReactiveUDForm.preparationTime.errors.minlength">Confirm Password must be at least 6 characters</div>
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-group">
                          <button class="btn btn-primary" rippleEffect>Add</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </ng-template>
              </li>
            </ul>
            <div [ngbNavOutlet]="navVerticalRight"></div>
          </div>
        </ng-template>
      </li>
      <li ngbNavItem>
        <a ngbNavLink>Orders</a>
        <ng-template ngbNavContent>
          <p>Chocolate croissant cupcake croissant jelly donut. Cheesecake toffee apple pie chocolate bar biscuit tart croissant. Lemon drops danish cookie. Oat cake macaroon icing tart lollipop cookie sweet bear claw. Carrot cake dragée chocolate. Lemon drops ice cream wafer gummies dragée. Chocolate bar liquorice cheesecake cookie chupa chups marshmallow oat cake biscuit. Dessert toffee fruitcake ice cream powder tootsie roll cake.</p>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="navJustified" class="mt-2"></div>
  </div>
</div>
